/ProjetoGarett/nbproject/private/
/ProjetoGarett/build/
/ProjetoGarett/dist/
/ProjetoGarett_v1.02.006/nbproject/private/
/ProjetoGarett_v1.02.006/build/
/ProjetoGarett_v1.02.006/dist/
/JavaFXApplication1/nbproject/private/
/JavaFXApplication1-Preloader/nbproject/private/